<div class="container">
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>{{subtitle}}</p>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Files</div>
        <div class="panel-body">
            <p>{{{description}}}<br>{{bandwidth}}</p>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Operating System</th>
                        <th>URL</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                {{#each files}}
                <tr>
                    <td><a href="files/{{filename}}">{{title}}</a>
                        <br><span class="label label-info">{{downloads}} downloads</span>
                        <br>({{filesize}})</td>
                    <td>{{os}}</td>
                    {{#if url}}
                        <td><a href="{{url}}">{{url}}</a></td>
                    {{else}}
                        <td>-</td>
                    {{/if}}
                    {{#if note}}
                        <td>{{note}}</td>
                    {{else}}
                        <td>-</td>
                    {{/if}}
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
